{% extends "_layout.twig" %}

{% block content %}
    <div class="w-full">

        <div class="p-10 w-full">
            {% set image = entry.mainImage.one() %}
            {% if image %}
            <img src="{{ image.getUrl() }}" alt="{{ image.title }}">
            {% endif %}
            <div class="w-full text-center py-4 flex flex-col">
                <h2 class="text-gray-900 font-bold text-4xl mb-2">{{ entry.title }}</h2>
                <div class="bg-blue-300 w-1/2">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <p>Prep Time: {{entry.recipe.prepTime}} </p>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <p>Cooking Time: {{entry.recipe.cookTime}}</p>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <p>Total Time: {{entry.recipe.totalTime}}</p>
                    </div>
                    <p>Skill: {{entry.recipe.skill}}</p>
                    <p>Serves: {{entry.recipe.serves}}</p>
                </div>
            </div>
            <div class="w-full p-4 flex justify-between">
                <div class="w-2/3">
                    {% set directions = entry.recipe.getDirections() %}
                    <h2 class="font-bold text-xl">Steps</h2>
                    {% for direction in directions %}
                        <h3>Step {{ loop.index }}</h3>
                        <p>{{ direction }}</p>
                    {% endfor %}
                </div>
                <div class="w-1/3">
                    {% set ingredients = entry.recipe.getIngredients() %}
                    <h2 class="font-bold text-xl">Ingredients</h2>
                    <ul>
                        {% for ingredient in ingredients %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
